body {
  display: flex;
  justify-content: center;
  font-family: 'pingfang sc', sans-serif;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin: 50px 0;
}

.h1 {
  color: rgba(0,0,0,.65);
  font-size: 2.5em;
  font-weight: 100;
  text-align: center;
}

.h2 {
  margin: 0px 0 40px;
  color: #049e51;
  font-weight: 200;
  text-align: center;
}

.circles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
